.cta {
  background-color: $color-orange;
  margin-top: 117px;
  padding-top: 81px;
  padding-bottom: 81px;

  @media (max-width: $screen-md) {
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
      max-width: 325px;
      margin-left: 73px;

      @media (max-width: $screen-md) {
        margin: 0;
        padding-bottom: 15px;
        text-align: center;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 32px;
    color: $color-black;
  }

  &__buttons-wrapper {
    flex-basis: 50%;
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__btn-1 {
    margin-left: 70px;

    @media (max-width: $screen-md) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__btn-2 {
    margin-left: 15px;

    @media (max-width: $screen-md) {
      margin: 0;
    }
  }
}
