.feature {
  background-color: $color-lighter-grey;
  &__wrapper {
    display: flex;

    // @include for-small-phones-only {
    //   flex-direction: column;
    // }
  }

  &__img {
    flex-basis: 50%;

    // @include for-small-phones-only {
    //   padding: 10px;
    // }
  }

  &__content {
    flex-basis: 50%;
    display: flex;
  }

  &__content-container {
    max-width: 441px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 113px;

    // @include for-small-phones-only {
    //   margin-left: 0px;
    //   text-align: center;
    //   padding: 30px;
    // }
  }

  &__title {
    font-size: 32px;
    color: $color-black;
  }

  &__text {
    font-size: 20px;
    color: $color-black;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &__btn {
    align-self: flex-start;

    // @include for-small-phones-only {
    //   align-self: center;
    // }
  }
}
