.header {
  padding-top: 32px;
  padding-bottom: 33px;
  position: fixed;
  width: 100%;
  background-color: $color-light-grey;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 80px;
  }

  &__btn {
    margin-right: 32px;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0 0 0 55px;

  &__item {
    text-decoration: none;
    font-size: 18px;
    color: $color-black;
    padding: 0px 15px;
  }
}
