.hero {
  padding-top: 117px;
  background-color: $color-lighter-grey;

  &__wrapper {
    display: flex;

    @media (max-width: $screen-xs-max) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__content {
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    &-container {
      max-width: 433px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 15px;
      padding-right: 15px;
      font-size: 32px;
      margin-left: 36px;

      @media (max-width: $screen-xs-max) {
        justify-content: center;
        padding: 30px;
        margin: 0;
        text-align: center;
      }
    }
  }

  &__title {
    font-weight: 600;
    color: $color-black;
    font-size: 56px;

    @media (max-width: $screen-md) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 20px;
    color: $color-black;
    margin-bottom: 63px;
    margin-top: 40px;

    @media (max-width: $screen-md) {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  &__btn {
    align-self: flex-start;

    @media (max-width: $screen-xs-max) {
      align-self: center;
    }
  }

  &__img {
    flex-basis: 50%;

    @media (max-width: $screen-xs-max) {
      padding: 5px;
    }
  }
}
