.posts {
  display: flex;
  flex-direction: column;
  padding-top: 96px;

  @media (max-width: $screen-md) {
    padding-top: 45px;
  }

  &__title {
    font-size: 32px;
    color: $color-black;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    color: $color-black;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 60px;

    @media (max-width: $screen-md) {
      padding-bottom: 30px;
    }
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
