@import "./normalize";

// ===================================================
//  fonts
// ===================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("../fonts/gilroy-bold.woff") format("woff"),
    url("../fonts/gilroy-bold.ttf") format("truetype"),
    url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot");
  src: local("☺"), url("../fonts/gilroy-regular.woff") format("woff"),
    url("../fonts/gilroy-regular.ttf") format("truetype"),
    url("../fonts/gilroy-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.eot");
  src: local("☺"), url("../fonts/gilroy-semibold.woff") format("woff"),
    url("../fonts/gilroy-semibold.ttf") format("truetype"),
    url("../fonts/gilroy-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

// ===================================================
//  variables
// ===================================================
// Colors according to the order of figma template
$color-black: #000000;
$color-brownish: #231f20;
$color-dark-brown: #111010;

$color-white: #ffffff;
$color-light-grey: #fafafa;
$color-lighter-grey: #f1f1f2;
$color-lighter-grey-1: #f2f2f2;

$color-orange: #f7941e;

// ===================================================
//  breakpoints (bootstrap 4)
// ===================================================
// X-Small devices (portrait phones, less than 576px)

// Small devices (landscape phones, less than 768px)
$screen-xs: 576px;
$screen-xs-max: 767px;

// Medium devices (tablets, less than 992px)
$screen-s: 768px;
$screen-s-max: 991px;

// Large devices (desktops, less than 1200px)
$screen-md: 992px;
$screen-md-max: 1199px;

// X-Large devices (large desktops, less than 1400px)
$screen-lg: 1200px;
$screen-lg-max: 1399px;

// XX-Large devices (larger desktops)
$screen-xl: 1400px;

// ===================================================
//  basic styles correction
// ===================================================
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lock {
  overflow: hidden;
}

section::before {
  display: block;
  content: " ";
  margin-top: -118px;
  height: 118px;
  visibility: hidden;

  @media (max-width: $screen-xs-max) {
    margin-top: -84px;
    height: 84px;
  }
}
