.btn {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;

  &_primary {
    color: $color-white;
    background-color: $color-orange;
    border: none;

    &_outlined {
      background-color: transparent;
      border: 1px solid $color-orange;
      color: $color-orange;

      &:hover {
        color: $color-white;
        background-color: $color-orange;
      }
    }

    &:hover {
      box-shadow: 5px 5px 10px rgba($color-black, 0.35);
    }
  }

  &_secondary {
    color: $color-white;
    background-color: $color-black;
    border: none;

    &_outlined {
      background-color: transparent;
      border: 1px solid $color-black;
      color: $color-black;

      &:hover {
        color: $color-white;
        background-color: $color-black;
      }
    }
    &:hover {
      box-shadow: 5px 5px 10px rgba($color-black, 0.35);
    }
  }

  &_size_sm {
    width: 150px;
    height: 44px;
  }

  &_size_m {
    width: 200px;
    height: 48px;
  }

  &_size_lg {
    width: 200px;
    height: 60px;
  }
}
